.navbar-brand{
  /* position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left:15px; */
   font-size: 500px;

}


.navbar .navbar-brand{
  font-size: 80px;
}

span{
  color: red;
}

/* navbar */
.navbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbox .leftside {
    width: 80px;
    height: 40px;
}

.navbox .leftside a{
  font-size: 30px;
}


.navbox .rightside {
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.navbox .rightside span {
    margin-right: 10px;
}

.navbox .rightside span .navlink {
    text-decoration: none;
    color: #000;

}

.navbox .rightside .no-of-products {
    background: #f57224;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    padding: 2px;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    position: absolute;
    top: -5px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn {
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: hidden;
    background-color: #2eca8b;
    margin-left: 10px;
}


/*  main slider */
.main_slider{
    background-image: url("../images/s1.jpg");
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;

}

.main_slider_content{
    width: 60%;
}

.main_slider_content h6{
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    top: 200px;
}

.main_slider_content h1{
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 100px;
}

.red_button{
    display: inline-flex;
    position: relative;
    top:170px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background:#FFB6C1;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.red_button a{
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
}

.red_button:hover{
    background: #fe7c7f;
}

.shop_now_button{
    width: 140px;
    margin-top: 32px;
}



/* cart */
.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
}

.cart-container .cart-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}



/* cart summary */
.cart-summary {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 1px solid #e4e4e4;
    width: 300px;
}

.cart-summary .cart-summary-heading {
    border-bottom: 1px solid #f57224;
}

.cart-summary .cart-summary-price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cashout-link {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

/* cashout */
.success-msg {
    background-color: green;
    color: #fff;
    padding: 7px;
    font-size: 12px;
    font-weight: 600;
}

.success-msg .home-link {
    color: #fff;
}
