/* banner */
.banner{
    width: 100%;
    margin-top: 20px;
    padding: 5px;
}

.banner_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.item1{
  background-image: url("../images/banner_1.jpg")
}

.item2{
  background-image: url("../images/banner_2.jpg")

}

.item3{
  background-image: url("../images/banner_3.jpg")

}

.banner_category{
    height: 50px;
    background: white;
    border-style: dashed;
    min-width: 188px;
    padding-left: 25px;
    padding-right: 25px;
}

.banner_category a{
    display: block;
    color: #1e1e27;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 100%;
}

.banner_category a:hover{
    color: #b5aec4;
}
