/* 1. Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');



/* 2. body and some general stuff */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    background: #ffffff;
    color: #1e1e27;
}

.error-msg{

  font-size: 12px;
  font-weight: 600;
}
